[submodule "third_party/gtest"]
	path = third_party/gtest
	url = https://chromium.googlesource.com/external/googletest.git
[submodule "third_party/z3"]
	path = third_party/z3
	url = https://github.com/Z3Prover/z3.git
