Source: libscribble
Priority: extra
Maintainer: Nicholas Ng <nickng@doc.ic.ac.uk>
Build-Depends: debhelper (>= 8.0.0), flex, bison, libsesstype-dev
Standards-Version: 3.9.3
Section: libs
Homepage: http://www.doc.ic.ac.uk/~cn06/sessionc
Vcs-Git: git://github.com/sessionc/libscribble.git

Package: libscribble-dev
Section: libdevel
Architecture: amd64
Depends: libscribble (= ${binary:Version})
Description: Scribble support library for session types programming (dev)
 Development files for programming with Session Types in C.
 This is a library for Scribble protocol description language support and tools, part of Session C programming framework. See http://www.doc.ic.ac.uk/~cn06/sessionc for details.

Package: libscribble
Section: libs
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libsesstype (>= 1.5.0)
Description: Scribble support library for session types programming
 Shared libraries for programming with Session Types in C.
 This is a library for Scribble protocol description language support and tools, part of Session C programming framework. See http://www.doc.ic.ac.uk/~cn06/sessionc for details.
